.blog {
  display: grid;
  grid-template-columns: 570px 570px;
  grid-template-rows: min-content min-content min-content;
  column-gap: 32px;
  row-gap: 30px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1250px) {
    width: 820px;
    grid-template-columns: 400px 400px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $tablet) {
    max-width: 678px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    row-gap: 50px;
  }

  @media (max-width: $mobile) {
    max-width: 290px;
    row-gap: 0;
    column-gap: 0;
  }
}

.blog__header {
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-bottom: 31px;

  @media (max-width: $tablet) {
    margin-bottom: 15px;
  }
}

.blog h2 {
  margin-top: 116px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 0;

  @media (max-width: $tablet) {
    margin-top: 60px;
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    margin-top: 36px;
  }
}

.blog a {
  text-decoration: none;
  color: $dark;
  line-height: 21px;
  border-bottom: 1px solid $brown;
  font-weight: 500;

  &:focus,
  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $mobile) {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 60px;
  }
}

.blog a:first-of-type {
  display: inline-block;
  vertical-align: middle;
  margin-top: 19px;

  @media (max-width: $tablet) {
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    margin-bottom: 37px;
  }
}

.blog .blog__care > a,
.blog .blog__inner > a,
.blog .blog__power > a {
  margin-top: 8px;
  margin-left: 8px;

  @media (max-width: $tablet) {
    margin-left: 0;
    margin-top: 8px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 52px;
  }
}

.blog__care,
.blog__power {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 570px;
  background-color: $desert;
  text-align: center;

  @media (max-width: 1250px) {
    width: 400px;
  }

  @media (max-width: $tablet) {
    width: 678px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin-bottom: 40px;
  }
}

.blog__care img,
.blog__power img,
.blog__trends img {
  display: block;

  @media (max-width: 1250px) {
    width: 200px;
    height: 215px;
  }

  @media (max-width: $tablet) {
    width: 339px;
    height: 300px;
  }

  @media (max-width: $mobile) {
    width: 290px;
    height: 256px;
  }
}

.blog__care {
  grid-column: 1/2;
  grid-row: 2/3;
}

.blog__care h3 {
  max-width: 163px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.blog__power {
  grid-column: 1/2;
  grid-row: 3/-1;

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.blog__power h3 {
  max-width: 92px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}


.blog__trends {
  grid-column: 2/-1;
  grid-row: 2/-1;
  position: relative;

  @media (max-width: $tablet) {
    display: flex;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.blog__trends .blog__inner {
  position: absolute;
  background-color: $desert;
  width: 285px;
  right: 0;
  bottom: 0;
  text-align: center;

  @media (max-width: $tablet) {
    position: static;
    width: 339px;
  }

  @media (max-width: $mobile) {
    width: 290px;
  }
}

.blog .blog__trends a {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 90px;

  @media (max-width: $mobile) {
    margin-bottom: 70px;
  }
}

.blog__trends img {
  width: 570px;
  height: 630px;

  @media (max-width: 1250px) {
    width: 400px;
    height: 460px;
  }

  @media (max-width: $tablet) {
    width: 339px;
    height: 300px;
  }

  @media (max-width: $mobile) {
    width: 290px;
    height: 256px;
  }
}

.blog__inner p {
  margin-top: 71px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $grey;

  @media (max-width: 1250px) {
    margin-top: 30px;
  }

  @media (max-width: $tablet) {
    margin-top: 67px;
  }

  @media (max-width: $mobile) {
    margin-top: 49px;
  }
}

.blog__inner h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  margin-top: 0;
}

.blog__trends p {
  margin-top: 71px;

  @media (max-width: $tablet) {
    margin-top: 85px;
  }

  @media (max-width: $mobile) {
    margin-top: 62px;
  }
}
