.feedback {
  margin-top: 90px;
  margin-right: -20px;
  margin-left: -15px;

  @media (max-width: 1260px) {
    margin-left: 10px;
  }

  @media (max-width: $tablet) {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-right: 0;
    margin-top: 50px;
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

.feedback h2 {
  letter-spacing: 0.03em;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tablet) {
    letter-spacing: 0.026em;
  }

  @media (max-width: $mobile) {
    margin-left: 15px;
    margin-right: 72px;
  }
}

.feedback p {
  font-weight: 400;
  line-height: 22px;
  color: $grey;
  margin-bottom: 40px;
  margin-top: 10px;

  @media (max-width: $mobile) {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 60px;
  }
}

.feedback form {
  @media (max-width: $mobile) {
    max-width: 700px;
    margin-left: 15px;
    margin-right: 10%;
  }

  @media (max-width: 321px) {
    max-width: 290px;
    margin-right: 0;
  }
}

.feedback input {
  border: none;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-radius: 0;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  background-color: transparent;
  width: 400px;
  padding-bottom: 10px;
  border-bottom: 1px solid $white;

  &::placeholder {
    color: $grey;
  }

  &:hover {
    border-bottom: 1px solid $brown;
  }

  @media (max-width: 1260px) {
    width: 300px;
  }

  @media (max-width: $tablet) {
    width: 455px;
  }

  @media (max-width: $mobile) {
    width: 70%;
  }

  @media (max-width: 422px) {
    width: 60%;
  }

  @media (max-width: 321px) {
    width: 60%;
  }
}

.feedback button {
  background-color: transparent;
  color: $white;
  border: none;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border-bottom: 1px solid $white;
  margin-left: -13px;
  padding-bottom: 11px;

  &:focus,
  &:hover {
    border-bottom: 1px solid $brown;
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: 1260px) {
    margin-left: -4px;
  }

  @media (max-width: $tablet) {
    margin-left: -10px;
  }

  @media (max-width: $mobile) {
    margin-left: -5px;
  }
}

.feedback button > svg {
  stroke: $white;
  margin-left: 2px;

  @media (max-width: $tablet) {
    width: 29px;
    height: 9px;
  }
}

.feedback button:focus > svg,
.feedback button:hover > svg {
  stroke: $brown;
}
