.filter {
  display: flex;
  flex-direction: column;
}

.filter form {
  display: block;

  @media (max-width: $tablet) {
    display: none;
  }
}

.filter--opened form {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 424px;
    top: 200px;
    background-color: $white;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
    margin-left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    z-index: 1;

    @media (max-height: 910px) {
      top: 50px;
    }

    @media (max-height: 740px) {
      max-height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    @media (max-height: 540px) {
      height: 400px;
    }

    @media (max-height: 430px) {
      height: 300px;
    }

    @media (max-height: 330px) {
      height: 200px;
    }

    @media (max-height: 260px) {
      top: 0;
    }
  }

  @media (max-width: $mobile) {
    width: 270px;
  }
}

.filter__show {
  display: none;

  @media (max-width: $tablet) {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto 50px auto;
    width: 678px;
    height: 68px;
    border: none;
    background-color: $brown;
    font-family: "Poppins", "Arial", "Helvetica", sans-serif;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: $dark;
    }

    &:active {
      opacity: 0.7;
    }
  }

  @media (max-width: $mobile) {
    width: 90.62%;
    margin-bottom: 40px;
  }
}

.filter__item {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid $brown;
  box-sizing: border-box;
  color: $dark;

  &--opened {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 10px;
      right: 25px;
      top: 30px;
      background: url("../img/up.svg") no-repeat;
    }
  }

  &--closed {
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 10px;
      right: 25px;
      top: 30px;
      background: url("../img/down.svg") no-repeat;
    }
  }

  &--focus {
    border: 1px solid $black;
  }
}

.filter--opened .filter__item {
  @media (max-width: $tablet) {
    border: none;
    width: 424px;
    border-bottom: 1px solid $brown;
  }

  @media (max-width: $mobile) {
    width: 270px;
  }
}

.filter__item--closed label {
  display: none;
}

.filter__item--closed input {
  display: none;
}

.filter__item--closed .filter__controls,
.filter__item--closed .filter__range {
  display: none;
}

.filter__item h3 {
  margin-left: 25px;
  margin-top: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 23px;
  }

  &:hover {
    color: $brown;
  }

  &:focus {
    color: $brown;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.filter__item--opened h3 {
  cursor: pointer;
}

.filter__item--closed h3 {
  margin-bottom: 19px;
}

.filter__item--price {
  padding-bottom: 18px;
}

.filter__item--price h3 {
  margin-top: 24px;
  margin-bottom: 25px;
}

.filter__item ul {
  @include list-reset;
}

.filter__item li {
  display: flex;
  flex-direction: row;
}

.filter__item label {
  margin-left: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
  cursor: pointer;
  max-width: max-content;

  @media (max-width: $tablet) {
    font-size: 16px;
    line-height: 21px;
  }
}

.filter__item input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__item input:checked + label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -25px;
    background-color: $brown;
  }
}

.filter__item input + label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -25px;
    border: 1px solid $brown;
    box-sizing: border-box;
  }

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.filter__item input:focus + label {
  color: $brown;
}

.filter__controls {
  display: flex;
}

.filter__scale {
  width: 200px;
  height: 1px;
  background-color: $desert;
  margin-left: 25px;
}

.filter__bar {
  width: 90px;
  height: 1px;
  background-color: $brown;
  margin-left: 60px;
}

.filter__toggle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $brown;
  margin-top: -6px;

  &--min {
    margin-left: -155px;
  }

  &--max {
    margin-left: 90px;
  }
}

.filter__range span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-left: 63px;
}

.filter__submit {
  width: 250px;
  height: 68px;
  min-height: 68px;
  background-color: $brown;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  cursor: pointer;
  margin-top: 35px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;

  &:focus,
  &:hover {
    background-color: $dark;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet) {
    width: 362px;
    margin-left: 30px;
  }

  @media (max-width: $mobile) {
    width: 230px;
    margin-left: 20px;
  }
}

.filter__clear {
  width: 250px;
  height: 68px;
  min-height: 68px;
  background-color: $white;
  border: 1px solid $brown;
  box-sizing: border-box;
  margin-top: 25px;
  color: $dark;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  cursor: pointer;

  &:focus,
  &:hover {
    border: 1px solid $dark;
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet) {
    width: 362px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile) {
    width: 230px;
    margin-left: 20px;
  }
}

.filter__close {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    background-color: $dark;
    right: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;

    @media (max-height: 740px) {
      right: 0;
      top: 0;
    }
  }
}

.filter__close svg {
  fill: $white;
}
