.page-main {
  flex: 1 0 auto;

  &--catalog {
    display: flex;
    flex-direction: column;
  }
}

.page-main__wrapper {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  column-gap: 50px;
  margin-left: 20%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 120%;
    height: 1px;
    background-color: $light-grey;
    bottom: 162px;
    left: -20%;
  }

  @media (max-width: 1800px) {
    margin-left: 15%;
  }

  @media (max-width: 1600px) {
    margin-left: 10%;
  }

  @media (max-width: 1366px) {
    margin-left: 100px;
  }

  @media (max-width: 1080px) {
    margin-left: 45px;
  }

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-left: 0;

    &::after {
      bottom: 132px;
    }
  }

  @media (max-width: $mobile) {
    &::after {
      display: none;
    }
  }
}

.page-main__header {
  background: url("../img/bg-desctop.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: $brown;
  color: $white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-desctop@2x.jpg");
    background-color: $brown;
  }

  &--catalog {
    background: url("../img/bg-catalog.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $brown;
    margin-bottom: 80px;
    margin-top: 18px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-catalog@2x.jpg");
      background-color: $brown;
    }
  }

  @media (max-width: $tablet) {
    background: url("../img/bg-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $brown;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-tablet@2x.jpg");
      background-color: $brown;
    }

    &--catalog {
      background: url("../img/bg-catalog-tablet.jpg") no-repeat;
      background-size: 100%;
      background-position: center;
      background-color: $brown;
      margin-bottom: 50px;
      margin-top: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-catalog-tablet@2x.jpg");
        background-color: $brown;
      }
    }
  }

  @media (max-width: $mobile) {
    background: url("../img/bg-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $brown;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-mobile@2x.jpg");
      background-color: $brown;
    }

    &--catalog {
      background: url("../img/bg-catalog-mobile.jpg");
      background-color: $brown;
      background-size: cover;
      background-position: center;
      margin-bottom: 40px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-catalog-mobile@2x.jpg");
        background-color: $brown;
      }
    }
  }
}

.page-main__header h1 {
  padding-top: 184px;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  margin-top: 16px;
  margin-left: 39.6%;

  @media (max-width: $tablet) {
    margin-top: 0;
    margin-left: -14px;
    text-align: center;
  }

  @media (max-width: $mobile) {
    font-size: 38px;
    line-height: 49px;
    margin-left: 0;
    padding-top: 190px;
  }
}

.page-main--login h1 {
  text-align: center;
  color: $black;
}

.page-main--login a {
  text-decoration: none;
}

.page-main__header p {
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;
  margin-top: -5px;
  padding-bottom: 179px;
  margin-left: 41.9%;

  @media (max-width: $tablet) {
    text-align: center;
    margin-left: -14px;
    padding-bottom: 177px;
  }

  @media (max-width: $mobile) {
    font-size: 34px;
    line-height: 44px;
    margin-left: 0;
    padding-bottom: 185px;
  }
}

.page-main__header--catalog h1 {
  font-size: 34px;
  line-height: 44px;
  padding-top: 77px;
  padding-left: 18px;
  letter-spacing: 0;

  @media (max-width: $tablet) {
    padding-top: 92px;
  }

  @media (max-width: $mobile) {
    padding-top: 80px;
    padding-left: 0;
  }
}

.page-main__header--catalog p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  padding-bottom: 70px;
  margin-top: 2px;
  margin-left: 0;
  text-align: center;

  @media (max-width: $tablet) {
    margin-left: 0;
    padding-bottom: 72px;
  }

  @media (max-width: $mobile) {
    width: 77.18%;
    margin-left: auto;
    margin-right: auto;
    line-height: 26px;
    padding-bottom: 61px;
  }
}
