.page-body {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  margin: 0;

  &--menu {
    @media (max-width: $tablet) {
      overflow: hidden;
      pointer-events: none;
    }
  }
}
