.page-header {
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: auto auto 100px 100px;
  padding-top: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: 1px;
    background-color: $light-grey;
  }

  &--closed {
    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 26px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  &--opened {
    @media (max-width: $tablet) {
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: $brown;
      grid-template-columns: auto auto auto;
      grid-template-rows: min-content min-content min-content min-content;
      padding-bottom: 80px;
      margin-bottom: 0;
      overflow-y: scroll;
      pointer-events: auto;
    }

    @media (max-width: $mobile) {
      padding-bottom: 50px;
      width: 100%;
      grid-template-columns: 130px 156px 20px;
    }
  }

  &--nojs {
    @media (max-width: $tablet) {
      background-color: $brown;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto min-content min-content min-content;
      padding-bottom: 80px;
      margin-bottom: 0;
    }

    @media (max-width: $mobile) {
      padding-bottom: 50px;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile) {
    padding-top: 20px;
  }
}

.page-header__burger {
  display: none;

  @media (max-width: $tablet) {
    display: inline-block;
    vertical-align: middle;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 50px;
    height: 50px;
    margin-left: 32px;
    margin-top: 7px;
    border: none;
    cursor: pointer;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
    margin-top: 0;
  }
}

.page-header--closed .page-header__burger {
  @media (max-width: $tablet) {
    position: relative;
    background-color: $white;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 2px;
      top: 18px;
      left: 14px;
      background-color: $dark;
      box-shadow: 0 7px 0 0 $dark, 0 13px 0 0 $dark;
    }

    &:focus,
    &:hover {
      &::before {
        background-color: $brown;
        box-shadow: 0 7px 0 0 $brown, 0 13px 0 0 $brown;
      }
    }

    &:active {
      &::before {
        opacity: 0.7;
      }
    }
  }
}

.page-header--opened .page-header__burger,
.page-header--nojs .page-header__burger {
  @media (max-width: $tablet) {
    position: relative;
    background-color: $brown;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 2px;
      top: 18px;
      left: 14px;
      background-color: $white;
      box-shadow: 0 7px 0 0 $white, 0 13px 0 0 $white;
    }

    &:focus,
    &:hover {
      &::before {
        background-color: $dark;
        box-shadow: 0 7px 0 0 $dark, 0 13px 0 0 $dark;
      }
    }

    &:active {
      &::before {
        opacity: 0.7;
      }
    }
  }
}

.page-header form {
  grid-row: 1/2;
  margin-top: 12px;
  margin-left: 94px;
}

.page-header--closed form {
  @media (max-width: $tablet) {
    display: none;
  }
}

.page-header--opened form,
.page-header--nojs form {
  @media (max-width: $tablet) {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin-left: 45px;
  }

  @media (max-width: $mobile) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.page-header .page-header__cart > span {
  @media (max-width: $tablet) {
    display: none;
  }
}

.page-header__cart > svg {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    vertical-align: middle;
  }
}

.page-header--closed .page-header__cart {
  @media (max-width: $tablet) {
    margin-left: 66%;
  }
}

.page-header--opened .page-header__cart > svg,
.page-header--nojs .page-header__cart > svg {
  @media (max-width: $tablet) {
    fill: $brown;
    stroke: $white;
  }
}

.page-header--nojs .page-header__cart > svg:focus,
.page-header--nojs .page-header__cart > svg:hover,
.page-header--opened .page-header__cart > svg:focus,
.page-header--opened .page-header__cart > svg:hover {
  @media (max-width: $tablet) {
    fill: $brown;
    stroke: $dark;
  }
}

.page-header--nojs .page-header__cart > svg:active,
.page-header--opened .page-header__cart > svg:active {
  @media (max-width: $tablet) {
    opacity: 0.7;
  }
}

.page-header--closed .page-header__cart > svg {
  @media (max-width: $tablet) {
    fill: $white;
    stroke: $dark;
  }
}

.page-header--closed .page-header__cart > svg:focus,
.page-header--closed .page-header__cart > svg:hover {
  @media (max-width: $tablet) {
    fill: $white;
    stroke: $brown;
  }
}

.page-header--closed .page-header__cart > svg:active {
  @media (max-width: $tablet) {
    opacity: 0.6;
  }
}

.page-header input {
  color: $black;
  border: none;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  &:hover {
    border: 1px solid $brown;
    border-radius: 25px;
    margin-left: -1px;
    margin-right: -1px;
  }

  &:focus,
  &:active {
    border-radius: 1px;
  }
}

.page-header--opened input,
.page-header--nojs input {
  @media (max-width: $tablet) {
    background-color: $brown-alpha;
    width: 88.28%;
    border-radius: 21px;
    height: 40px;
    padding-left: 40px;

    &::placeholder {
      opacity: 0;
    }

    &:hover {
      border: 1px solid $dark;
    }
  }

  @media (max-width: $mobile) {
    width: 290px;
    margin-left: 15px;
  }
}

.page-header form > button {
  border: none;
  background-color: $white;
  vertical-align: middle;
  cursor: pointer;
}

.page-header--opened form > button,
.page-header--nojs form > button {
  @media (max-width: $tablet) {
    background-color: transparent;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;

    > svg {
      fill: $white;
    }
  }

  @media (max-width: $mobile) {
    margin-left: 20px;
  }
}

.page-header .page-header__logo {
  grid-row: 1/2;
  width: 70px;
  height: 70px;
  margin-left: -75px;
  margin-top: 0;

  @media (max-width: $tablet) {
    margin-left: 60px;
  }

  @media (max-width: $mobile) {
    width: 52px;
    height: 52px;
    margin-left: 28px;
  }
}

.page-header--closed .page-header__logo {
  @media (max-width: $tablet) {
    transform: translateX(35px);
  }

  @media (max-width: $mobile) {
    transform: translateX(0);
  }
}

.page-header--opened .page-header__logo {
  @media (max-width: $tablet) {
    margin-left: 110px;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.page-header__logo svg {
  fill: $brown;

  @media (max-width: $mobile) {
    width: 52px;
    height: 52px;
  }
}

.page-header--opened .page-header__logo > svg,
.page-header--nojs .page-header__logo > svg {
  @media (max-width: $tablet) {
    fill: $white;
  }
}

.page-header a {
  grid-row: 1/2;
  text-decoration: none;
  color: $dark;
  margin-top: 17px;
  margin-left: 30px;

  &:focus,
  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet) {
    margin-left: 0;

    &:focus,
    &:hover {
      color: $dark;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.page-header--opened a,
.page-header--nojs a {
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 36px;
    color: $white;
    margin-left: 45px;
  }

  @media (max-width: $mobile) {
    margin-left: 15px;
  }
}

.page-header .page-header__cart {
  max-height: 25px;
  margin-left: -16px;
  margin-top: 10px;

  @media (max-width: $tablet) {
    width: 25px;
    height: 25px;
    grid-row: 1/2;
    margin-left: 75.5%;
    margin-top: 25px;
  }

  @media (max-width: $mobile) {
    margin-left: 69.8%;
    margin-top: 18px;
  }
}

.page-header--opened .page-header__cart,
.page-header--nojs .page-header__cart {
  @media (max-width: $tablet) {
    margin-left: 67%;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.page-header .page-header__login {
  max-height: 25px;
  max-width: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-top: 10px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.page-header--closed .page-header__login {
  @media (max-width: $tablet) {
    display: none;
  }
}

.page-header--opened .page-header__login,
.page-header--nojs .page-header__login {
  @media (max-width: $tablet) {
    display: inline;
    grid-column: 1/-1;
    grid-row: 5/-1;
    font-size: 18px;
    line-height: 23px;
    margin-left: 45px;
  }
}

.page-header ul {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  margin-top: 34px;
  position: relative;
  width: 525px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.page-header--closed ul {
  @media (max-width: $tablet) {
    display: none;
  }
}

.page-header--opened ul,
.page-header--nojs ul {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}

.page-header ul:last-of-type {
  display: none;
}

.page-header--closed ul:last-of-type {
  display: none;
}

.page-header--opened ul:last-of-type,
.page-header--nojs ul:last-of-type {
  @media (max-width: $tablet) {
    display: flex;
  }
}

.page-header ul:last-of-type > li > a {
  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 23px;
    opacity: 0.75;
  }
}

.page-header--opened li,
.page-header--nojs li {
  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.page-header--opened ul:last-of-type > li,
.page-header--nojs ul:last-of-type > li {
  @media (max-width: $tablet) {
    margin-bottom: 10px;
  }
}
