.popup {
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: $desert;
  position: fixed;
  top: 300px;
  left: 50%;
  right: -50%;
  transform: translateX(-50%);
  z-index: 10;
  overflow-x: hidden;

  &--closed {
    display: none;
  }

  &--opened {
    display: flex;
  }

  @media (max-width: $tablet) {
    width: 442px;
    top: 100px;
    pointer-events: auto;
  }

  @media (max-width: $mobile) {
    width: 270px;
    top: 50px;
    pointer-events: auto;
  }

  &--main {
    position: static;
    margin: 100px -50% 100px 50%;
    width: 430px;

    @media (max-width: $mobile) {
      width: 270px;
    }
  }

  @media (max-height: 900px) {
    top: 150px;
  }

  @media (max-height: 740px) {
    top: 50px;
  }

  @media (max-height: 645px) {
    top: 25px;
    height: 509px;
    overflow-y: scroll;
  }

  @media (max-height: 500px) {
    top: 0;
    height: 509px;
    overflow-y: scroll;
  }

  @media (max-height: 380px) {
    height: 300px;
    overflow-y: scroll;
    top: 30px;
  }

  @media (max-height: 250px) {
    height: 200px;
    overflow-y: scroll;
    top: 20px;
  }
}

.popup img {
  display: block;
  width: 430px;
  height: 138px;

  @media (max-width: $tablet) {
    width: 442px;
  }

  @media (max-width: $mobile) {
    width: 270px;
    height: 84px;
  }
}

.popup h2 {
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;

  @media (max-width: $mobile) {
    margin-top: 40px;
    font-size: 24px;
    line-height: 31px;
  }
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popup label {
  width: 340px;

  @media (max-width: $mobile) {
    width: 240px;
  }
}

.popup input {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $dark;
  padding-bottom: 10px;
  background-color: $desert;
  margin-left: 45px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;

  &::placeholder {
    color: $grey;
  }

  @media (max-width: $tablet) {
    margin-left: 50px;
  }

  @media (max-width: $mobile) {
    margin-left: 15px;
    margin-top: 12px;
  }
}

.popup input:first-of-type {
  margin-bottom: 13px;
}

.popup label:last-of-type > input {
  margin-bottom: 5px;

  @media (max-width: $mobile) {
    margin-bottom: 8px;
  }
}

.popup form > a {
  width: max-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $grey;
  text-decoration: none;
  margin-left: 248px;
  margin-top: 0;

  @media (max-width: $tablet) {
    margin-left: 252px;
  }

  @media (max-width: $mobile) {
    margin-left: 117px;
  }
}

.popup form > button {
  width: 340px;
  height: 68px;
  background-color: $brown;
  border: none;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $dark;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $mobile) {
    width: 240px;
    margin-top: 35px;
  }
}

.popup__inner {
  margin-left: 100px;
  margin-top: 14px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  font-weight: 500;

  @media (max-width: $tablet) {
    margin-left: 109px;
  }

  @media (max-width: $mobile) {
    margin-left: 23px;
    margin-bottom: 26px;
  }
}

.popup__inner p {
  color: $grey;
  margin-top: 0;
  margin-right: 5px;
}

.popup__inner a {
  text-decoration: none;
  color: $dark;
}

.popup__close {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet) {
    width: 26px;
    height: 26px;
    top: 18px;
  }

  @media (max-width: $mobile) {
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
  }
}

.popup__close svg {
  width: 14px;
  height: 14px;

  @media (max-width: $tablet) {
    width: 20px;
    height: 20px;
  }

  @media (max-width: $mobile) {
    width: 14px;
    height: 14px;
  }
}

.popup a {
  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    opacity: 0.5;
  }
}
