.shop__wrapper {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  grid-template-rows: auto auto auto auto;
  row-gap: 23px;
  column-gap: 29px;
  text-align: center;

  @media (max-width: 1285px) {
    grid-template-columns: 200px 200px 200px;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 206px 206px 206px;
    column-gap: 30px;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 206px 206px;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 13px;
  }

  @media (max-width: 530px) {
    grid-template-columns: 180px 180px;
  }

  @media (max-width: 450px) {
    grid-template-columns: 130px 130px;
  }
}

.shop__wrapper a {
  text-decoration: none;
  color: $dark;

  &:focus,
  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.shop__wrapper img {
  width: 270px;
  height: 272px;

  @media (max-width: 1285px) {
    width: 200px;
    height: 202px;
  }

  @media (max-width: $tablet) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $mobile) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: 530px) {
    width: 180px;
    height: 186px;
  }

  @media (max-width: 450px) {
    width: 130px;
    height: 136px;
  }
}

.shop__wrapper h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 4px;

  @media (max-width: $mobile) {
    margin-top: 10px;
  }
}

.shop__wrapper p {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-left: 5px;
}

.shop__pagination {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin-top: 54px;
  margin-bottom: 75px;

  @media (max-width: $tablet) {
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 73px;
  }

  @media (max-width: $mobile) {
    margin-top: 27px;
    margin-left: 64px;
    margin-bottom: 64px;
  }
}

.shop__pagination ul {
  @include list-reset;
  display: flex;
  margin-left: -20px;
  flex-wrap: wrap;

  @media (max-width: $mobile) {
    margin-left: auto;
    margin-right: auto;
  }
}

.shop__pagination button {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  background-color: $white;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.shop__pagination a {
  color: $grey;
  text-decoration: none;
  font-weight: 500;
  line-height: 21px;
  margin-right: 15px;

  @media (max-width: $mobile) {
    margin-right: 23px;
  }

  &:focus,
  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.shop__pagination li:first-of-type > a {
  color: $dark;
}
