.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;

  @media (max-width: $mobile) {
    margin-right: auto;
    margin-left: auto;
  }
}
