.slider {
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
}

.slider__shop {
  text-align: center;
  color: $dark;

  @media (max-width: $mobile) {
    margin-top: 70px;
  }
}

.slider__shop h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  margin-top: -60px;
  margin-left: 30px;

  @media (max-width: $tablet) {
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile) {
    margin-top: -10px;
  }
}

.slider__shop > a {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  border-bottom: 1px solid $brown;
  margin-bottom: 58px;

  @media (max-width: $tablet) {
    margin-left: 0;
    text-align: center;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 44px;
  }
}

.slider a {
  text-decoration: none;
  text-align: center;
  color: $dark;
  margin-left: 30px;

  &:focus,
  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet) {
    margin-left: 28px;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.slider__boxes {
  margin-left: 0;

  @media (max-width: $tablet) {
    margin-left: -20px;
  }

  @media (max-width: $mobile) {
    max-height: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
  }
}

.slider__boxes a:nth-of-type(2n) {
  @media (max-width: $tablet) {
    margin-left: 30px;
  }

  @media (max-width: $mobile) {
    margin-right: 0;
    margin-left: 0;
  }
}

.slider__boxes h3 {
  margin-left: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
  margin-left: -30px;

  @media (max-width: $tablet) {
    margin-left: -18px;
  }

  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 21px;
    margin-left: -10px;
    margin-top: 16px;
  }
}

.slider__boxes p {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
  margin-left: -35px;

  @media (max-width: $tablet) {
    margin-left: -35px;
  }

  @media (max-width: $mobile) {
    margin-left: -10px;
  }
}

.slider__boxes img {
  width: 270px;
  height: 284px;

  @media (max-width: 1240px) {
    width: 220px;
    height: 254px;
  }

  @media (max-width: 1170px) {
    width: 200px;
    height: 234px;
  }

  @media (max-width: $tablet) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile) {
    width: 130px;
    height: 136px;
  }
}

.slider__arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  margin-left: 90px;
  margin-right: 60px;

  @media (max-width: $tablet) {
    margin-left: 38px;
    margin-right: 40px;
    margin-top: 111px;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.slider__arrows svg {
  width: 29px;
  height: 9px;
  stroke: $brown;

  &:focus,
  &:hover {
    stroke: $dark;
  }

  &:active {
    fill: 0.6;
  }

  @media (max-width: $tablet) {
    width: 36px;
    height: 15px;
  }
}

.slider__arrows button {
  border: none;
  background-color: $white;
  cursor: pointer;
}

.slider__right svg {
  stroke: $brown;
}

.slick-list {
  margin-left: 5%;
  margin-right: 5%;
}

.slider__pages {
  display: none;

  @media (max-width: $mobile) {
    display: inline-block;
    margin-top: 21px;
    font-size: 18px;
    font-weight: 500;
  }
}
